* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;

}

h2 {
    font-size: 46px;
    line-height: 54 px;
    color: #222;

}

h4 {
    font-size: 20px;
    color: #222;

}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;

}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: green;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

.logo {
    width: 50px;

}

/* Header start */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.5s ease-in-out;
}

#navbar li a:hover,
#navbar li a.active {
    color: palevioletred
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: palevioletred;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/* Home page */
#hero {
    background-image: url("image/white_image.jpg");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4 {
    padding-bottom: 15px;

}

#hero h1 {
    color: palevioletred;
}

#hero button {
    background-image: url(image/white_image_tho_nua_hinh.jpg);
    background-color: transparent;
    color: palevioletred;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

#feature .fe-box {
    width: 130px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: palevioletred;
    background-color: #fddde4;
}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box:nth-child(2) h6 {
    background-color: #ebe5cc;
    color: orange;
}

#feature .fe-box:nth-child(3) h6 {
    background-color: #ccebe9;
    color: green;
}

#feature .fe-box:nth-child(4) h6 {
    background-color: #ccd3eb;
    color: blue;
}

#feature .fe-box:nth-child(5) h6 {
    background-color: #ebcce4;
    color: red;

}

#feature .fe-box:nth-child(6) h6 {
    background-color: #cfebcc;
    color: royalblue;
}

#product1 {
    text-align: center;

}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transform: 0.2s ease;
    position: relative;
}

#product1 .pro :hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
    height: 250px;

}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span {
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i {
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: palevioletred;
}

#product1 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: palevioletred;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(image/banner_back_ground.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner button:hover {
    background: green;
    color: orangered;
}

/* Phần quảng cáo */
#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}



#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    background-image: url(image/banner_back_ground.jpg);
    min-width: 660px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

#sm-banner .banner-box-2 {
    background-image: url(image/Hen-gio-giao-hang.jpg);
}

#sm-banner h4 {
    color: white;
    font-size: 20px;
    font-weight: 300;
}

#sm-banner h2 {
    color: white;
    font-size: 28px;
    font-weight: 800;
}

#sm-banner span {
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}



button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 30px;
    color: white;
    background-color: transparent;
    cursor: pointer;
    border: 1;
    outline: none;
    transition: 0.2s;
}

#sm-banner .banner-box :hover button {
    background-color: palevioletred;
    border: 1px solid palevioletred;
}

#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    /* background-image: url("image/hai_ban_tay_phong_trangjpg.jpg"); */
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}

#newsletter .h4 {
    font-weight: 700;
    font-size: 22px;
    color: #818ea0;
}

#newsletter p {
    font-weight: 600;
    font-size: 14px;
    color: #818ea0;
}

#newsletter span {

    color: yellow;
}

#newsletter .form {
    display: flex;
    width: 40%;

}


#newsletter input {
    height: 3.125rem;
    padding: 0 0.125rem;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#newsletter button {
    background-color: palevioletred;
    color: white;
    white-space: nowrap;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 50px;
}

footer .logo {
    margin-bottom: 30px;
}

footer h4 {
    font-size: 14px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 14px;
    margin: 0 0 8px 0;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow i {
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .install #image-app {
    cursor: pointer;
}

/* Shop page */

#page-header {
    background-image: url("image/banner_models.webp");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h2,
#page-header p {
    color: white;
}

#pagination {
    text-align: center;
}

#pagination a {
    text-decoration: none;
    background-color: palevioletred;
    padding: 15px 20px;
    border-radius: 4px;
    color: white;
    font-weight: 600;

}

#pagination a i {
    font-size: 16px;
    font-weight: 600;
}

/*Single Product*/
#prodetails {
    display: flex;
    margin-top: 20px;
}


#prodetails .single-pro-images {
    width: 40%;
    margin-right: 50px;
}








.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails .single-pro-details {
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-pro-details h4 {
    padding: 40px 0 20px 0;

}

#prodetails .single-pro-details h2 {
    font-size: 26px;

}

#prodetails .single-pro-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails .single-pro-details input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#prodetails .single-pro-details input:focus {
    outline: none;
}

#prodetails .single-pro-details button {
    background: palevioletred;
    color: white;
}

#prodetails .single-pro-details span {
    line-height: 25px;
}

/* Cart page */
#cart table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img {
    width: 70px;
}

#cart table td:nth-child(1) {
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(2) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(3) {
    width: 250px;
    text-align: center;
}

#cart table td:nth-child(4) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(5),
#cart table td:nth-child(6) {
    width: 150px;
    text-align: center;

}

#cart table td:nth-child(5) input {
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#cart table thead {
    border: 1px solid whitesmoke;
    border-left: none;
    border-right: none;
}

#cart table thead td {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}

#cart table tbody tr td {
    padding-top: 15px;
}

#cart table tbody td {
    font-size: 13px;
}

#cart-add {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#coupon {
    width: 50%;
    margin-bottom: 30px;
}

#coupon h3,
#subtotal h3 {
    padding-bottom: 15px;

}

#coupon input {
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e2e2;
}

#coupon button,
#findbutton,

#subtotal button {
    background-color: palevioletred;
    color: white;
    padding: 12px 20px;

}

#subtotal {
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid palevioletred;
    padding: 30px;
}

#subtotal table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;

}

#subtotal table td {
    width: 50%;
    border: 1px solid rgb(186, 141, 156);
    padding: 10px;
    font-size: 13px;
}